.containerLoadingScreen {
    width: 1000px;
    height: 600px;
    background-image: url('../img/1.Sharkie/3.Swim/PreviewOP2.gif');
    background-size: cover;
}


.containerLoadingScreen h2 {
    margin: unset;
    padding-top: 70px;
    font-size: 60px;
    text-align: center;
}