/********************************************* width *********************************************/
@media screen and (max-width: 1000px) {
    .containerStartScreen {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
}


@media screen and (max-width: 440px) {
    h1 {
        font-size: 35px;
    }

    .imageSharkie {
        width: 300px;
    }

    .btnStartScreen {
        height: 85px;
        width: 250px;
    }
}


@media screen and (max-width: 330px) {
    h1 {
        font-size: 25px;
    }

    .imageSharkie {
        width: 250px;
    }

    .btnStartScreen {
        height: 75px;
        width: 200px;
    }
}

/********************************************* width *********************************************/


/********************************************* height *********************************************/

@media screen and (max-height: 700px) {
    .containerStartScreen {
        height: 70vh;
    }

    .imageSharkie {
        padding-bottom: 0;
    }
}


@media screen and (max-height: 600px) {
    .imageSharkie {
        width: 380px;
        padding-bottom: 0px;
    }

    .containerBtn {
        gap: 30px;
        flex-direction: unset;
    }

    .btnStartScreen {
        height: 85px;
        width: 250px;
        padding-bottom: 0px;
    }
}


@media screen and (max-height: 400px) {
    h1 {
        font-size: 50px;
    }

    .containerStartScreen {
        height: 60vh;
    }

    .imageSharkie {
        width: 320px;
        padding-bottom: 0px;
    }

    .btnStartScreen {
        height: 75px;
        width: 200px;
    }
}

/********************************************* height *********************************************/