body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'luckiestGuy', Arial, Helvetica, sans-serif;
    background-image: url('../img/3. Background/Light/full.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}


main {
    position: relative;
}


h1 {
    text-align: center;
    color: #320bce;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.iconFullScreen {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
}


.iconFullScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}


.iconMute {
    width: 30px;
    position: absolute;
    right: 65px;
    top: 15px;
}


.iconMute:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}


.closeIcon {
    width: 30px !important;
    padding: 3px;
    border-radius: 10px;
    margin-top: unset !important;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
}


.closeIcon:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}


.btnMobileRight {
    width: 4%;
    position: absolute;
    bottom: 7%;
    left: 13%;
    border-radius: 10px;
    border: 3px solid white;
}


.btnMobileLeft {
    width: 4%;
    position: absolute;
    bottom: 7%;
    left: 1%;
    border-radius: 10px;
    border: 3px solid white;
}


.btnMobileDown {
    width: 4%;
    position: absolute;
    bottom: 1%;
    left: 7%;
    border-radius: 10px;
    border: 3px solid white;
}


.btnMobileUp {
    width: 4%;
    position: absolute;
    bottom: 14%;
    left: 7%;
    border-radius: 10px;
    border: 3px solid white
}


.btnMobileFinSlapAttack {
    width: 7%;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    right: 1%;
    bottom: 2%;
    background-color: #7FFFE0;
    color: #531A82;
    border-radius: 50%;
    font-size: 14px;
    border: 3px solid white;
    margin: unset;
}


.btnMobileShootNormalBubble {
    width: 7%;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;
    bottom: 2%;
    background-color: #7FFFE0;
    color: #531A82;
    border-radius: 50%;
    font-size: 14px;
    border: 3px solid white;
    margin: unset;
}


.btnMobileShootPoisonBubble {
    width: 7%;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    right: 19%;
    bottom: 2%;
    background-color: #7FFFE0;
    color: #531A82;
    border-radius: 50%;
    font-size: 14px;
    border: 3px solid white;
    margin: unset;
}


.marginTop-0 {
    margin-top: 0;
}


.fullscreen {
    width: 100% !important;
    height: 100vh !important;
    background-size: 100vw 100vh !important;
}


.d-none {
    display: none !important;
}


.tiltYourDeviceInfo {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tiltYourDeviceInfo p {
    color: white;
    font-size: 30px;
}


.scaleDownCenter {
    transform: scale(0);
}


.scaleUpCenter {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-center {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}