body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'luckiestGuy', Arial, Helvetica, sans-serif;
    background-image: url('/img/3. Background/Layers/5. Water/L.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}


main {
    position: relative;
}


h1 {
    color: #320bce;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.containerStartScreen {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.containerImageSharkie {
    display: flex;
    justify-content: center;
}


.containerImageSharkie img {
    width: 400px;
    padding-bottom: 80px;
}


.btnStartScreen {
    height: 95px;
    width: 300px;
    padding-bottom: 50px;
}


.btnStartScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}


.containerWinScreen {
    width: 1000px;
    height: 600px;
    background-image: url('/img/6.Botones/Try again/Mesa de trabajo 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}


.btnTryAgainWinScreen {
    height: 95px;
    width: 300px;
    padding-top: 100px;
}


.btnTryAgainWinScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}


.containerGameOverScreen {
    background-image: url('/img/3. Background/Layers/5. Water/D.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gameOverScreenText {
    width: 750px;
}


.gameOverScreenImgDeadByElectroShock {
    width: 320px;
    height: 320px;
    margin-top: -100px;
    padding-bottom: 80px;
}


.gameOverScreenImgDeadByPoison {
    width: 320px;
    height: 320px;
    margin-top: -10px;
}


.btnTryAgainGameOverScreen {
    height: 95px;
    width: 300px;
}


.btnTryAgainGameOverScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}


.iconFullScreen {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
}


.iconFullScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}


.fullscreen {
    width: 100%;
    height: 100vh;
    background-size: 100vw 100vh;
}


.iconMute {
    width: 30px;
    position: absolute;
    right: 65px;
    top: 15px;
}


.iconMute:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}


.d-none {
    display: none;
}


.scaleDownCenter {
    transform: scale(0);
}


.scaleUpCenter {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-center {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* 
canvas {
    background-color: black;
} */