body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'luckiestGuy', Arial, Helvetica, sans-serif;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}


h1 {
    color: #1313b0f0;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.containerWinScreen {
    position: relative;
}


.winScreenBG {
    width: 1000px;
    height: 600px;
}


/* 
.btnStart {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 50px;
}


.btnStart:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
} */


.btnTryAgainWinScreen {
    height: 95px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 350px;
}


.btnTryAgainWinScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}


.containerGameOverScreen {
    position: relative;
}


.gameOverScreenBG {
    width: 1000px;
    height: 600px;
}


.gameOverScreenText {
    width: 750px;
    position: absolute;
    top: 100px;
    left: 110px;
}


.gameOverScreenImgDeadByElectroShock {
    width: 400px;
    position: absolute;
    top: -90px;
    left: 300px;
}


.gameOverScreenImgDeadByPoison {
    width: 380px;
    position: absolute;
    top: 120px;
    left: 330px;
}


.btnTryAgainGameOverScreen {
    height: 95px;
    width: 300px;
    position: absolute;
    bottom: 60px;
    left: 350px;
}


.btnTryAgainGameOverScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}


.d-none {
    display: none;
}


.scaleDownCenter {
    transform: scale(0);
}


.scaleUpCenter {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-center {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* 
canvas {
    background-color: black;
} */